a {
    text-decoration: none;
}
header div {
    text-align: center;
    padding: 50px;

}
header div h1 {
    margin: 0px;
}
header div p {
    margin: 0px;
}
header nav {
    display: inline;
}
header nav ul {
    margin: 0px;
    padding: 5px;
}
header nav ul li {
    display: inline;
    list-style-type: none;
    margin-left: 25px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 450px;
}

#grid section {
    padding: 20px;
}

#grid section div {
    padding: 15px;
}

img {
    width: 100%;
    height: 600px;
}